header{
    background-image: url(./images/en-tete.jpg);
    background-size: contain;
    background-repeat: no-repeat; 
    height: 100vh;
    width: 100%;
    color: white;
}
.menu{
    display: flex;
}
nav ul
{
    list-style-type: none;
    display: flex;
    align: right;
}
.phone{
    color: #74AAD5;
}
.IMMO{

}
.dispo{
    color: #74AAD5;
}