header{
    background-image: url(./images/en-tete.jpg);
    background-size: contain;
    background-repeat: no-repeat; 
    height: 100vh;
    width: 100%;
    color: white;
    font-family: Montserrat ;
}
.logo{
    padding-right:10%;

}
nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.6) ;
}
nav ul
{
    list-style-type: none;
    display: flex;
    font-size: 13px;
    font-weight: bold;  
}
nav li{
    padding: 10px;
}
hr{
    height: 80%;
}
.phone{
    display: flex;
    background-color: #74AAD5;
    opacity: 1;
    border-radius: 16px 16px 16px 16px; 
    padding: 8px;
    
}
.icone_phone{
    padding-left: 8px;
}
.info{
    display: flex;
    flex-direction: row-reverse; 
}
.IMMO h1{
    font-size: 80px;
    font-weight: bold;
    line-height:20px; 
}
.IMMO p{
    font-family: Droid Sans;
    font-size: 26px;
    font-style: italic;
}
.IMMO{
    margin-top: 8%;
    margin-right: 20%;
    /*line-height:20px;*/
}
.fleche{
    background-color: white;
    border-radius: 50% 50%;
    margin-right: 8px;
}
.appart{
    display: flex;
    background-color: rgba(19, 50, 75, 0.6);
    font-size: 11px;
    font-weight: bold;
    border-radius: 16px 16px 16px 16px;
    padding: 8px;

}
.rond{
    font-family: Droid Sans;
    text-align: center;
    font-style: italic;
    font-size: 15px;
    display: flex;
    justify-content: left;
    margin-right:60%;
    margin-top: 6%;

    
}
.dispo{
    background-color: #74AAD5;
    border-radius: 50% 50%;
    width:110px;
    height:110px;
    text-align: center;
    margin: auto;
    font-size: 15px;
    font-weight: light;
    margin-right: 14px; 
    
}

.situation{
    background-color: #FFFFFF;
    border-radius: 50% 50%;
    color: #13324B;
    width:110px;
    height:110px;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
}
.fleche_bas{
    margin-left: 50%;
    border-radius: 50% 50%;
    background-color: rgba(255, 255, 255, 0.6);

}